<section id="PendingRequestSection">

<h2>Pending Requests</h2>

<div *ngIf="rows.length != 0">
<div *ngFor="let row of rows">
    <div class="card clr-row animated fadeInUp faster">
        <div class="clr-col-lg-10">
                <h4>{{ row.Name }}</h4>
        </div>
        <div class="clr-col-lg-2">
            <p>
                <clr-icon shape="shopping-cart"></clr-icon> 
                <span>{{ row.Quantity }}</span> 
            </p>
        </div>
    </div>
</div>
</div>
<div *ngIf="rows.length == 0">
    <h4>No Records</h4>
</div>
    

</section>