@media screen and (min-width: 992px) {
    #registerbtn {
      visibility: hidden;
      display: none;
    }
}

@media screen and (max-width: 400px) {

    .card{

        .card-header{
            display: none;
            visibility: hidden;
            margin: 0;
        }

        #sm-registerbtn, #sm-title{
            display: inline-block;
            visibility: visible;
            margin: 0;
        }

        #registerbtn{
            display: none;
            visibility: hidden;
        }

    }
}

#sm-registerbtn, #sm-title{
    display: none;
    visibility: hidden;
}

#registerbtn:hover,  #registerbtn:active{
    text-decoration: none;
}

#LoginForm{

    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 90%;
    margin: auto;
    margin-top: 1rem;

    .card {
        padding: 1rem;

        .card-block{
            padding-bottom: 1.5rem;
        }

        .card-footer{
            padding-top: 1rem;
        }
    }
    
}
