<section id="RequestHistorySection">
<div class="card">

    <div class="card-header">
        <h3>Request History</h3>
    </div>

    <div class="card-block">
    <input type="text" id="SearchField" #Searchbox (keyup)="Search(Searchbox.value)" placeholder="Search!">
    <clr-datagrid>

        <clr-dg-column [clrDgSortBy]="'Name'">Name</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'Type'">Type</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'Quantity'" [clrDgColType]="'number'">Quantity</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'Status'">Status</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'Date'">Date</clr-dg-column>

        <clr-dg-placeholder>Your History Is Empty!</clr-dg-placeholder>

        <clr-dg-row *clrDgItems="let row of rows">
            <clr-dg-cell>{{row.Name}}</clr-dg-cell>
            <clr-dg-cell>{{row.Type}}</clr-dg-cell>
            <clr-dg-cell>{{row.Quantity}}</clr-dg-cell>
            <clr-dg-cell>{{row.Status}}</clr-dg-cell>
            <clr-dg-cell>{{row.Date | date}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>Total: {{rows.length}} Requests</clr-dg-footer>

    </clr-datagrid>
    </div>
</div>
</section>