<section id="AboutSection">
    <!-- <article id="AboutTitle">
        <h1>
            <clr-icon shape="namespace" size="68"></clr-icon>
            <span>Inva</span>
            <p>Inventory Management Solutions</p>
        </h1>
    </article>
    <article id="AboutContent" class="clr-row card">
        <div class="clr-col-lg-5">
            <img src="../../../../assets/images/about-pic.svg" alt="No image found">
        </div>
        <div class="clr-col-lg-7">
            <h2>Made With Love, For You!</h2><hr>
            <h4>We made this app to help you to relieve from the headache of inventory management. 
                From scratch our aim was to provide a userfriendly and reliable experience. <br> 
                Hope You Love It!</h4>
            <h6>Fork Me On GitHub At <br>
                @abhaykeerthy12/Inva-ng-Ui <br> & <br> @abhaykeerthy12/Inva-API</h6>
        </div>
    </article> -->
    <article id="AboutTitle">
            <h2>
                <clr-icon shape="namespace" size="68"></clr-icon>
                <span>Inva</span>
                <p>Inventory Management Solutions</p>
            </h2>
            <div id="AboutContent" class="clr-row card">
                <div class="clr-col-lg-6">
                    <img src="../../../../assets/images/about-pic.svg" alt="No image found">
                </div>
                <div id="aboutinside" class="clr-col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Made With Love, For You!</h3>
                        </div>
                        <div class="card-block">
                            <h5>We made this app to help you to relieve from the headache of inventory management. 
                                From scratch our aim was to provide a userfriendly and reliable experience. <br> 
                                Hope You Love It!</h5>
                        </div>
                        <div class="card-footer">
                                <h6>Fork Me On GitHub<br>
                                    @abhaykeerthy12/Inva-API & Inva-ng-Ui</h6>
                        </div>
                    </div>
                </div>
            </div>
    </article>
</section>