<clr-main-container>


    <clr-header class="header-4">
        <div class="branding">
            <a routerLink="welcome" routerLinkActive="active" class="nav-link">
                <clr-icon shape="namespace" style="color: #ddd;"></clr-icon>
                <span class="title">Inva</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1" *ngIf="!IsLoggedIn()">
            <a routerLink="" routerLinkActive="" class="nav-link nav-text">About</a>
            <a routerLink="" routerLinkActive="" class="nav-link nav-text">Contact Us</a>
            <a routerLink="user/login" routerLinkActive="active" class="nav-link nav-text">Join</a>
        </div>
        <div class="header-actions" *ngIf="IsLoggedIn()">
            <a style="cursor: pointer;" class="nav-link nav-text" (click)="Logout()">
                Log Out
            </a>
        </div>
    </clr-header>

    <div class="content-container">

        <main class="content-area">
                <router-outlet></router-outlet>
        </main>
        
        <clr-vertical-nav *ngIf="IsLoggedIn()" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="2">
                <a clrVerticalNavLink routerLink="home" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
                    Home
                </a>
                <a clrVerticalNavLink routerLink="history" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="history"></clr-icon>
                    Request History
                </a>
                <a clrVerticalNavLink routerLink="./fighting" *ngIf="IsAdmin()" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
                    Fighting
                </a>
        </clr-vertical-nav>
        
    </div>
        

</clr-main-container>

    

