<section id="ContactSection">
<h2> Have Feedback ?, Ping Me! </h2>
<article id="ContactContent" class="card">
<div class="clr-row">
<div class="clr-col-lg-7">
    <img src="../../../../assets/images/feedback-pic.svg" alt="No image loaded!">
    <h4>We Love To Hear From You!</h4>
</div>
<div class="clr-col-lg-5">
<form clrForm>

<div class="card">

<div class="card-header">
    <h1>Contact!</h1>
</div>
<div class="card-block">

    <clr-input-container class="clr-row">
        <label class="clr-col-lg-4">Name</label>
        <input type="text" class="clr-col-lg-8"clrInput  required/>
    </clr-input-container>

    <clr-input-container class="clr-row">
        <label class="clr-col-lg-4">Email</label>
        <input type="email" class="clr-col-lg-8" clrInput required />
    </clr-input-container>

    <clr-textarea-container class="clr-row">
        <label class="clr-col-lg-4">Feedback</label>
        <textarea class="clr-col-lg-8" clrTextarea name="description" required></textarea>
    </clr-textarea-container>

</div>     
<div class="card-footer">
    <button class="btn btn-primary" >Ping!</button>  
</div>
</div>

</form>  
</div>
</div>
</article>
</section>


        

        
                