<div id="UserLargeSection">

        <div id="UserAppLogo">
            <div>        
                <h1 class="animated bounceInDown fast"><clr-icon shape="namespace" size="48"></clr-icon> Inva</h1>
            </div>
        </div>
        <div class="clr-row">
            <img src="../../../../../assets/images/register-pic.svg" class="clr-col clr-align-self-center" alt="Error Loading Image!">
        </div>
        <div id="UserAppText">
            <div>
                <h2>Need An Account?</h2>
                <button routerLink="/user/register" class="btn animated bounceInUp fast">Register</button>
            </div>
        </div>

</div>