<Section id="WelcomeSection">

<article id="HeroSection">

    <img src="../../../../assets/images/landing-pic.jpg" alt="">

</article>

<article id="PopUpSection" class="card animated zoomIn faster">
<div class="clr-row">
    <div id="PopUpTitle" class="clr-col-lg-5">
        <h1>
            <clr-icon shape="namespace" size="72"></clr-icon>
            <span class="title">Inva</span>
        </h1>
    </div>
    <div id="PopUpText" class="clr-col-lg-7 animated zoomInDown faster">
        <h3>
            A Privacy Focused Inventory Management Solution For Your Business!
        </h3>
        <h4><button routerLink="/user/register" class="btn btn-primary btn">Join Us!</button></h4>
    </div>
</div>
</article>

<article id="BaseSection" class="clr-row animated fadeIn slow">
    <div class="clr-col-lg-4">
        <div class="card">
            <img src="../../../../assets/images/responsive-pic.svg" 
                 class="clr-col clr-align-self-center"   alt="image not loaded">
            <div class="pic-text">
                <h4>Responsive to the core!</h4>
                <p>Your favorite app will fit on all screens, <br> without hesitation!</p>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-4">
        <div class="card">
            <img src="../../../../assets/images/secure-pic.svg"
                 class="clr-col clr-align-self-center"  alt="image not loaded">
            <div class="pic-text">
                <h4>Secure and Strong!</h4>
                <p>Built with latest and greatest tech, <br> Hacking?...forget it!</p>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-4">
        <div class="card">
            <img src="../../../../assets/images/usage-pic.svg" 
                 class="clr-col clr-align-self-center" alt="image not loaded">
            <div class="pic-text">
                <h4>Heavy Lifter!</h4>
                <p>Inva takes care of all the computes, <br> Just Chill! </p>
            </div>
        </div>
    </div>
</article>


</Section>