<section id="MasterPageSection">
<router-outlet></router-outlet>
<article id="PagesFooter" class="clr-row">
    <div id="footertitle" class="clr-col-lg-6">
        <h1>
            <clr-icon shape="namespace" size="72"></clr-icon>
            <span>Inva</span>
            <p>Inventory Management Solutions</p>
        </h1>
    </div>
    <div id="footeraddress" class="clr-col-lg-6">
        <h5>Abhay P Nair <br> Inva Team, Kerala, India <br>PIN: 679301 <br>abhaykeerthy12@gmail.com </h5>
    </div>
</article>
<div id="CopyRight">
    Copyright &copy; {{ year }}
</div>
</section>