<div id="RegisterPicSection">

    <div id="UserAppLogo">
        <div>        
            <h1 class="animated bounceInDown fast"><clr-icon shape="namespace" size="48"></clr-icon> Inva</h1>
        </div>
    </div>
    <div class="clr-row">
        <img src="../../../../../assets/images/login-pic.svg" class="clr-col clr-align-self-center" alt="Error Loading Image!">
    </div>
    <div id="UserAppText">
        <div>
            <h2>Already a Member?</h2>
            <button routerLink="/user/login" class="btn animated bounceInUp fast">Login</button>
        </div>
    </div>

</div>